@model Account
@{
    ViewBag.Title = "Login";
}

<h3>Sign in</h3>
@if (Model != null)
{
    <p class="text-warning">Account with such credentials doesn't exist!</p>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
<div class="table" style="font-size: 16px; min-width: 500px;">
    <table>
        <colgroup>
            <col width="150" />
            <col width="200" />
        </colgroup>
        <tbody>
            <tr style="height: 80%">
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </td>
            </tr>
            <tr style="height: 80%">
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Submit" />
</div>
}
<p>Don't have an account? <a href="CreateAccount">create one</a>.</p>
